/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.top {
  width: 20px;
  height: 50px;
}
.box {
  border-radius: 0px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.traffic-active {
  box-shadow: 0 0 50px white;
}
